/*wrap, collapse, alpha, beta*/
.wrap{
    width: 500px;
    height: 400px;

}
.collapse{
    border: solid 2px #75b475;
    border-radius: 10px;
}
.alpha{
    font-size: 24px;
    color: #2b5b5a;
}
.beta{
background-color: #e8f8d7;
    margin-bottom: 10px;
}
.menu{
    font-size: 30px;
    color: #0a17ad;
}
.item{
    text-align: center;
    width: 350px;
    background-color: #f6c6b4;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.description{
    font-size: 26px;
}